a {
  transition: color .4s;
  color: #265C83;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

.link { text-decoration: none; }

.banner-text {
	font-size: 30px;
	margin-top: 0px !important;
	margin-left: 40px; 
	padding-top: 0px !important;
}

.para {
	width:550px;
	text-align: justify;
	padding: 10px 0px 20px 40px";
}